<%- include('layouts') -%>
    <section class="h-100 h-custom gradient-custom-2" style="background-color: aliceblue;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <form action="/url" method="POST">
                                <div class="row g-0">
                                    <div class="col-lg-6">
                                        <div class="border-end mx-3 m-5" style="height: 85%;">
                                            <div class="p-5">
                                                <h3 class="fw-bold mb-5" style="color: #4835d4;">Short URL</h3>

                                                <div class="mb-4 pb-2">
                                                    <div data-mdb-input-init class="form-outline">
                                                        <label class="form-label" for="form3Examplev4">Paste the URL to behortened</label>
                                                        <input type="text" name="original_url"
                                                            class="form-control form-control-lg"
                                                            placeholder="https://www.example.com/" />
                                                    </div>
                                                </div>

                                                <div class="text-center">
                                                    <button data-mdb-button-init data-mdb-ripple-init
                                                        class="btn btn-primary btn-lg btn-block" type="submit">
                                                        Shorten URL
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">

                                        <div class="p-5">
                                            <h3 class="fw-bold mb-5">QR Code</h3>
                                            <label class="form-label" for="form3Examplev4">Shorten URL</label>
                                            <div class="p-3"
                                                style="background-color: #dddcdc; min-width: 200px; height: 50px; border-radius: 10px;">
                                                <% if (short_url) { %>
                                                    <span><a id="short-url" href="<%= `${short_url}` %>"
                                                            target="_blank">
                                                            <%= short_url %>
                                                        </a></span>
                                                    <% } %>
                                            </div>

                                            <div class="card card-registration card-registration-2 mt-4"
                                                style="border-radius: 15px; height: 18rem;">
                                                <div class="card-body p-100">
                                                    <% if (qr_code) { %>
                                                        <img src="<%= qr_code %>" width="50%"
                                                            class="rounded mx-auto d-block">
                                                        <% } %>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>